.layerListScroller {
    overflow-y: auto ;
    border: solid 3px red ;
    height: 90%;
}

.layerList {
    overflow: hidden;
    border-top: solid 2px gray  ;
}


.layerListHeader {
    display: inline;
    vertical-align: super;
    margin-left: 5px;
}

.layerListItemIconSize {
    height: 16px ;
    width: 16px ;
    font-size: 16px;
}

.layerListItem {
    height: 22px ;
    min-height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.layerListItem:last-child {
    border: none;
}

.layerList.cdk-drop-list-dragging .layerListItem:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0; 
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}