<div class="layerListHeader">
    <b>Layers</b>
</div>
<mat-icon>layers</mat-icon>
<div class="layerList" cdkDropList 
    (cdkDropListDropped)="drop($event)">
    <div class="layerListItem" cdkDrag *ngFor="let layer of getLayers()"  
        [style.background]="(layer.selected)?'lightcoral':'white'">
        <button mat-icon-button (click)="toggleLayerVisibility(layer)">
            <mat-icon class="layerListItemIconSize">{{layer.visible?'visibility':'visibility_off'}}</mat-icon>
        </button>
        <span (click)="changeLayerSelection(layer)">
            {{layer.name}}
        </span>
        <button mat-icon-button (click)="confirmLayerDelete(layer)">
            <mat-icon class="layerListItemIconSize">delete</mat-icon>
        </button>
    </div>
</div>