.layerListHeader {
    display: inline;
    vertical-align: super;
    margin-left: 5px;
}

.layerList {
    border-top: solid 2px gray  ;
}

.layerListItem {
    width: 100%;
}

.layerListItemIconSize {
    height: 16px ;
    width: 16px ;
    font-size: 16px;
}