<div class="divAddEditLayer">
    <span class="titleBar"><b>{{title}}</b></span>
    <p>
        <span class="leftRightPadding">Layer name</span>
        <input type="text">
        <input type="button" value="X" (click)="onClose()" class="topRight">
    </p>
    <p>
        <span class="formLabel">Left</span>
        <input type="number" value="0" class="inputNumeric">
        <span class="formLabel">Top</span>
        <input type="number" value="0" class="inputNumeric">
        <span class="formLabel">Scale</span>
        <input type="number" value="0" class="inputNumeric">
    </p>
    <p class="leftRightPadding">Select file to upload...
        <input type="file"
           id="file"
           (change)="handleFileInput($event)">
        <input type="button" value="Add layer" (click)="blabli()" class="bottomRight">
    </p>
</div>

