<div class="divAddEditLayer">
    <span class="titleBar"><b>{{title}}</b></span>
    <form [formGroup]="addEditLayerForm" (ngSubmit)="onSubmit()">
    <p>
        <span class="leftRightPadding">Layer name</span>
        <input id="layerName" type="text" formControlName="layerName">
        <input type="button" value="X" (click)="onClose()" class="topRight">
    </p>
    <p>
        <span class="formLabel">Left</span>
        <input id="leftPos" type="number" formControlName="leftPos" class="inputNumeric">
        <span class="formLabel">Top</span>
        <input id="topPos" type="number" formControlName="topPos" class="inputNumeric">
        <span class="formLabel">Scale</span>
        <input id="layerScales" type="number" formControlName="layerScale" class="inputNumeric">
        &nbsp;&nbsp;
    </p>
    <p class="leftRightPadding">
        <!--Select file to upload...
        <input type="file"
           id="file"
           (change)="handleFileInput($event)">--><br>
        <input type="submit" value="Add layer" class="bottomRight">
    </p>
    </form>
</div>

