<scrollbar class="layers">
    <div *ngFor="let il of getLayers()">
        <img *ngIf="(il.type === layerType.Image)"
            class="floatLayer" cdkDrag
            [src]="(il | castTo: imageLayer).img_src" 
            [style.left]="il.getLeftPx()"
            [style.top]="il.getTopPx()"
            [style.z-index]="il.getZindex()"
            [style.transform]="(il | castTo: imageLayer).getTransform()"
            [style.outline]="(il.selected) ? 'dashed 1px red':''"
        />
        <div *ngIf="(il.type === layerType.Text)" 
            class = "floatLayer" cdkDrag
            [style.left]="il.getLeftPx()"
            [style.top]="il.getTopPx()"
            [style.z-index]="il.getZindex()"
            [style.outline]="(il.selected) ? 'dashed 1px red':''"
        >
            <span>
                {{(il | castTo: textLayer).text}}
            </span>
        </div>
    </div>
</scrollbar>
<app-layer-list class="layerList"></app-layer-list>

