.layers {
  flex-basis: 100%; 
  /*border: 3px solid green; debug */
} 

.layerList {
  flex :1 ;
  border-left: 2px solid gray; 
}

.floatLayer {
    position: absolute;
    transform-origin: left top ;
    /*border: solid 1px red; debug */ 
}