<scrollbar class="layers">
    <div *ngFor="let layer of getLayers()">
        <div 
            id={{layer.id}}
            class = "floatLayer" cdkDrag
            (cdkDragStarted)="layerDragStarted($event)"
            (cdkDragEnded)="layerDragEnded($event)"
            (click)="selectLayerByClick(layer)"
            [style.left]="layer.getLeftPx()"
            [style.top]="layer.getTopPx()"
            [style.transform]="layer.getTransform()"
            [style.z-index]="layer.getZindex()"
            [style.outline]="(layer.selected) ? 'dashed 1px red':''"
            [cdkDragDisabled]="!(layer.selected)"
        >
            <span *ngIf="(layer.type === layerType.Text)" style="white-space: nowrap;">
                {{(layer | castTo: textLayer).text}}
            </span>
            <img *ngIf="(layer.type === layerType.Image)" [src]="(layer | castTo: imageLayer).img_src" >
        </div>
    </div>
</scrollbar>
<app-layer-list class="layerListPanel" [CompactMode]="false"></app-layer-list>

