<scrollbar class="layers" >
    <div #divLayers *ngFor="let layer of visibleLayers">
        <div 
            id={{layer.divId}}
            class = "floatLayer" 
            appFreeDragging
            (click)="selectLayerByClick(layer)"
            [style.left.px]="layer.left"
            [style.top.px]="layer.top"
            [style.z-index]="layer.z_index"
            [style.outline]="(layer.selected) ? 'dashed 1px red':''"
        >
            <span *ngIf="(layer.type === layerType.Text)" style="white-space: nowrap;">
                {{(layer | castTo: textLayer).text}}
            </span>
            <img *ngIf="(layer.type === layerType.Image)" [src]="(layer | castTo: imageLayer).img_src" >
        </div>
    </div>
</scrollbar>
<app-layer-list *ngIf="hasLayers()" class="layerListPanel" [CompactMode]="false"></app-layer-list>

