<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content [formGroup]="addEditLayerForm" (ngSubmit)="save()">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Layer name</mat-label>
            <input matInput id="layerName" type="text" formControlName="layerName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Image Scale</mat-label>
            <input matInput id="layerScale" type="number" formControlName="layerScale">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Left position</mat-label>
            <input matInput id="leftPos" type="number" formControlName="leftPos">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Top position</mat-label>
            <input matInput id="topPos" type="number" formControlName="topPos">
        </mat-form-field>

        
    </p>
    <!-- //TODO -- Select file to upload...
        <input type="file"
           id="file"
           (change)="handleFileInput($event)">-->
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>

