

.inputNumeric {
    width: 50px;
    margin-left: 6px;
}

.formLabel {
    display: inline-block;
    /* width: 50px; */
    text-align: center;
    margin-left: 12px;
}

.leftRightPadding {
    padding-left:12px ;
    padding-right:12px ;
}

.topRight {
    position:absolute ;
    top: 3px ;
    right: 3px ;
}

.bottomRight {
    display: inline-block;
    width: 100%;
    justify-content: center;
}

.titleBar {
    width: 100%; 
    height: 28px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background-color: lightgray;
}