<div class="toolBar">
    <button mat-icon-button (click)="onNewDesign()">
        <mat-icon>insert_drive_file</mat-icon>
    </button>
    <!-- <button mat-icon-button (click)="onFileUpload()">
        <mat-icon>upload_file</mat-icon>
    </button> -->
    
    <button mat-icon-button (click)="onAddImageLayer()">
        <mat-icon>library_add</mat-icon>
    </button>
    <button mat-icon-button (click)="onAddTextLayer()">
        <mat-icon>title</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!anyLayerSelected()" (click)="onEditLayer()">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!anyLayerSelected()" (click)="onTransformLayer()">
        <mat-icon>crop_rotate</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!anyLayerSelected()" (click)="onCopyLayer()">
        <mat-icon>content_copy</mat-icon>
    </button>
    <button mat-icon-button (click)="onFileDownload()">
        <mat-icon>cloud_download</mat-icon>
    </button>
    <button mat-icon-button (click)="onSettings()">
        <mat-icon>settings</mat-icon>
    </button>
    {{version()}}
</div>