<h2 mat-dialog-title>title</h2>

<!-- <mat-dialog-content [formGroup]="form">
  
    <mat-form-field>
        <input matInput
                placeholder="Course Description"
               formControlName="description">
    </mat-form-field>
      ....
 
</mat-dialog-content> -->

<mat-dialog-actions>
    <!-- <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button> -->
    <button class="mat-raised-button" >Close</button>
    <button class="mat-raised-button mat-primary">Save</button>
</mat-dialog-actions>
<!-- 
<div>
    <span class="titleBar"><b>{{title}}</b></span>
    <form [formGroup]="addEditLayerForm" (ngSubmit)="onSubmit()">
    <p>
        <span class="leftRightPadding">Layer name</span>
        <input id="layerName" type="text" formControlName="layerName">
        <input type="button" value="X" (click)="onClose()" class="topRight">
    </p>
    <p>
        <span class="formLabel">Left</span>
        <input id="leftPos" type="number" formControlName="leftPos" class="inputNumeric">
        <span class="formLabel">Top</span>
        <input id="topPos" type="number" formControlName="topPos" class="inputNumeric">
        <span class="formLabel">Scale</span>
        <input id="layerScales" type="number" formControlName="layerScale" class="inputNumeric">
        &nbsp;&nbsp;
    </p>
    <p class="leftRightPadding">
        <!--Select file to upload...
        <input type="file"
           id="file"
           (change)="handleFileInput($event)">-- ><br>
        <input type="submit" value="Add layer" class="bottomRight">
    </p>
    </form>
</div> -->

