<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content [formGroup]="addEditTextLayerForm!" (ngSubmit)="save()">
    <div>
        <mat-form-field appearance="outline" class="fullWidth">
            <mat-label>Text</mat-label>
            <input matInput id="text" type="text" formControlName="text">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="inputNumeric">
            <mat-label>Left position</mat-label>
            <input matInput id="leftPos" type="number" formControlName="leftPos">
        </mat-form-field>
        <mat-form-field appearance="outline" class="inputNumeric">
            <mat-label>Top position</mat-label>
            <input matInput id="topPos" type="number" formControlName="topPos">
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Add/Save</button>
</mat-dialog-actions>


