<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content [formGroup]="transformLayerForm!" (ngSubmit)="save()">
    <div>
        <mat-form-field appearance="outline" class="inputNumeric">
            <mat-label>Scale</mat-label>
            <input matInput id="scale" type="number" formControlName="scale">
        </mat-form-field>
        <mat-form-field appearance="outline" class="inputNumeric">
            <mat-label>Rotation</mat-label>
            <input matInput id="rotation" type="number" formControlName="rotation">
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Apply</button>
</mat-dialog-actions>

